<html lang="en">
  <head>
    <title>Genie Todo MVC</title>
    <link rel="stylesheet" href="<$ css_asset('cosmo') $>">
  </head>
  <body>
    <div class="container">
      <div class="row col-md-2"><strong></strong></div>
      <div class="row col-md-8">
        <div class="page-header">
          <h1>Todos</h1>
          <a class="pull-right" type="submit" href="<$ link_to(:get_todos_new) $>" style="margin-top: -40px">New</a>
        </div>
        <% if flash_has_message() %>
          <div class="alert alert-info"><% flash() %></div>
        <% end %>
        <%
          @yield
          include_template("app/layouts/shared/footer.flax.html")
        %>
      </div>
      <div class="row col-md-2"><strong></strong></div>
    </div>
    <script src="<$ js_asset('jquery') $>"></script>
    <script src="<$ js_asset('bootstrap') $>"></script>
  </body>
</html>
